button{
	background-color: #FFFFFF;
	border: 0;
	margin: 0;
	padding: 0;
}

h2{
	color: #8579C5;
	font-weight: bold;
}

h4{
	margin: 0;
}

.contenedor{
	height: 100vh;
	background-color: #FFFFFF;
	overflow-y: auto;
}

.contenedorhidden{
	height: 100vh;
	background-color: #FFFFFF;
	overflow-y: hidden;
}

.nuevosegmento{
	background-color: #59AFE2;
	text-decoration: none;
	color: #FFFFFF;
	padding: 15px;
}

.nuevosegmento:hover{
	text-decoration: none;
	color: #FFFFFF;
}

.opciones{
	text-decoration: none;
	color: #000000;
	text-align: center;
}

.opciones:hover{
	text-decoration: none;
}

#buscar{
	width: calc(100% - 25px);
	height: 50px;
	padding: 10px;
	border: 0;
}

.nombrefavorito{
	width: calc(100% - 25px);
}

.puntoverde{
	width: 10px;
	height: 10px;
	background-color: green;
	border-radius: 50%;
}

.puntonaranja{
	width: 10px;
	height: 10px;
	background-color: orange;
	border-radius: 50%;
}

.puntorojo{
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
}

.separadorinferior{
	width: 100%;
	height: 2px;
	margin: 10px 0px 10px 0px;
	background-color: #E6E6E6;
}

.margin25{
	margin: 0px 25px 0px 25px;
}

.marginshadow{
	margin: 10px 0px 10px 0px; 
	padding: 10px;
	font-size: 0.8em; 
	box-shadow: 0 0 0 3px #ddd, 0 1px 1px 0px #777;
}